a {
  border-bottom: 1px solid #334155;
  border-top: 1px solid #334155;
  color: #38bdf8;
  cursor: pointer;
  font-weight: bold;
  padding: 3px 8px;
  text-decoration: none;
}

article {
  border: none;
  border-radius: 12px;
  padding: 20px;
  background: #262626;
  text-align: left;
}

b {
  color: #facc15;
  font-size: 18px;
}

body {
  background: #171717;
  color: #bebebe;
  font-family: Inter;
  margin: 20px;
}

h1 {
  color: #bebebe;
  margin: 22px 0px -10px 0px;
}

h2 {
  align-items: center;
  border-bottom: 1px solid #334155;
  color: #facc15;
  display: flex;
  font-size: 20px;
  font-weight: normal;
  margin: 0px 0px 16px;
  padding-bottom: 8px;
}

h3 {
  border: none;
  color: #a3e635;
  font-size: 24px;
  padding: 8px 0px 0px 0px;
  text-align: left;
  text-transform: capitalize;
}

header {
  background: #262626;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 12px 32px 24px;
  margin-bottom: -6px;
  padding: 12px 32px 24px;
}

li {
  margin-left: 30px;
}

p {
  color: #facc15;
}

.badge {
  background: #303030;
  border-radius: 6px;
  cursor: pointer;
  font-family: Courier;
  font-size: 14px;
  line-height: 24px;
  padding: 8px;
}

.card {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 20px;
  vertical-align: top;
  width: 300px;
}

.card p {
  color: #94a3b8;
  padding-bottom: 14px;
  text-align: left;
}

.card .links a {
  background: #262626;
}

.imagem {
  cursor: pointer;
  max-width: 500px;
  width: 100%;
}

.links {
  margin: 10px;
  text-align: center;
}

.links a {
  background: #171717;
  border: 1px solid #a3e635;
  border-radius: 6px;
  color: #a3e635;
  font-family: Courier;
  padding: 8px 12px;
  text-decoration: none;
}

.rodape {
  float: right;
}

.subtitulo {
  margin: 2px 0 12px;
}

#dice {
  background: #171717;
  border: 1px solid #a3e635;
  border-radius: 8px;
  cursor: pointer;
  height: 24px;
  padding: 4px;
  vertical-align: middle;
}

#main {
  animation: sobe 0.3s;
}

#tema {
  font-family: Courier;
  position: absolute;
  right: 38px;
  top: 34px;
}

@keyframes pisca {
  0% { opacity: 1; }
  1% { opacity: 0.7; }
  2% { opacity: 1; }
}

@keyframes sobe {
  from {
    opacity: 0;
    padding-top: 500px;
  }
  to {
    opacity: 1;
    padding-top: 0;
  }
}

@media (max-width: 540px) {
  #main {
    text-align: center;
  }
}